@import "../scss/main.scss";

#bannerMain {
    height: 700px;
    display: flex;
    flex-direction: column;
    span {
        display: block;
    }
    .banner_icon {
        margin-top: 20px;
        width: 50px;
    }
    h5{
        font-size: 100px;
        font-weight: 100!important;
        span{
            margin-bottom: 50px;
        }
    }
    p {
        font-size: 18px;
    }
}
#mainClass {
    top: 30%;
    right: 7%;
}

@media screen and (max-width: 1280px) {
    #bannerMain {
        height: 500px;
    }
    #mainClass {
        top: 0;
        right: 20%;
    }
}
@media screen and (max-width: 1025px) {
    #bannerMain {
        height: 400px;

        h5{
            font-size: 50px;
            span{
                margin-bottom: 20px;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    #bannerMain {
        height: 350px;
        img {
            height: 100%;
        }
        h5 {
            font-size: 40px;
            font-weight: 500;
        }
        font-size: 16px;

        .banner_icon{
            display: none;
        }
    }
}
@media screen and (max-width: 668px) {
    #mainClass {
        top: -40px;
    }
    #bannerMain {
        height: 300px;

        h5 {
            span {
                margin-top: 20px;
            }
        }
    }
}

@media screen and (max-width: 568px) {
    #bannerMain {
        flex-direction: row;
    }
}

@media screen and (max-width: 468px) {
    #mainClass {
        right: 4%;
    }
    #bannerMain {
        h5 {
            font-size: 30px;
        }
        p {
            font-size: 14px;
            font-weight: 500;
        }
    }
}
