.footer_main_bg {
    background-color: #f2f2f2;
}
#footer_wrapper {
    .footer_logo {
        font-size: 30px;
        font-weight: 200;
        display: block;
        margin-bottom: 25px;
    }

    .footer_title {
        font-size: 30px;
        font-weight: 200;
        display: block;
        margin-bottom: 25px;
    }

    ul {
        li {
            a {
                border-bottom: 1px dotted #000;
            }
        }
    }
}
.footerIconDiv {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
@media only screen and (max-width: 1022px) {
    .footerIconDiv {
        align-items: center;
        justify-content: center;
    }
}
.footerIcon {
    margin-left: 7px;
    font-size: 22px;
    width: 34px;
    padding: 3px;
    height: 35px;
    background: #337357;
    color: white;
    border-radius: 7px;
}
.insta {
    margin-left: 0px;
}

.newLook{
    background: #E66B3C;
}