@import "../../../styles/scss/main.scss";

#header_nav_parent {
    // background-color: $defaultNavBg;
    height: 135px;
}
.main-header {
    padding: 10px 0 10px 0;
    // font-family: "Poppins", sans-serif;
    position: fixed;
    width: 100%;
    // color: $MainWhiteColor;
    z-index: 5;
    // background-color: $defaultNavBg;
    transition: 0.4s ease-in-out;

    a {
        text-decoration: none;
        // color: $MainWhiteColor;
    }

    .nav-links {
        list-style: none;
        margin: 0;

        .logoBrand {
            margin: 15px 0;
            display: flex;
            width: 400px;
        }
        .search_button {
            position: relative;
            input {
                border: none;
                box-shadow: none;
                color: $default_dark;
                border: 2.5px solid $default_dark;
                width: 290px;
                outline: none;
                border-radius: 100px;
                padding: 10px 0px 10px 45px;
                transition: 0.6s ease-in-out;

                &:focus {
                    border: 2.5px solid $default_orange;
                }
                &::placeholder {
                    color: $default_dark;
                    font-size: 18px;
                    font-weight: 600;
                }
            }
            img {
                top: 10px;
                left: 10px;
                position: absolute;
                width: 25px;
            }
        }
        .header_icons {
            .icon_parent {
                width: 45px;
                height: 45px;
                // overflow: hidden;
                background-color: $default_f2_white;
                border-radius: 100%;
                display: flex;
                margin-left: 10px;
                align-items: center;
                justify-content: center;
                border: 2.5px solid $default_dark;
                img {
                    width: 100%;
                    padding: 6px;
                    // width: 200px;
                }
                .margin_decrement {
                    padding: 0;
                    margin: 0 0 0 -22.5px;
                }
            }
        }
        .dropdown_parent {
            padding: 20px 0;
            position: relative;
            transition: all 0.6s ease;
            &:hover {
                color: $default_orange;
            }
            &:hover .dropdown_menu {
                display: block;
            }
            button {
                font-size: 18px;
                font-weight: 400;
                // padding: 15px 15px 15px 0;
                margin: 0 30px 0 0;
            }
            .dropdown_menu {
                display: none;
                border-radius: 5px;
                width: auto;
                top: 45px;
                padding: 0 25px 10px 25px;
                z-index: 10;
                background-color: $default_f2_white;
                position: absolute;
                animation: navDropdown 0.3s ease-in-out;
                a {
                    font-size: 18px;
                    color: #1f1f1f;
                    margin: 2px 0;
                    padding: 5px 0;
                    &:hover {
                        color: $default_orange;
                    }
                }
                .dropdown_child_parent {
                    position: relative;
                    &:hover .dropdown_child_menu {
                        display: block;
                    }
                    button {
                        margin: 10px 0;
                        padding: 10px 15px;
                        display: block;
                        width: 100%;
                        // background-color: red;
                    }
                    .dropdown_child_menu {
                        display: none;
                        position: absolute;
                        z-index: 12;
                        top: 0px;
                        left: -160px;
                        border-radius: 5px;
                        background-color: $default_ed_orange;

                        a{
                            padding: 15px 40px;
                            color: $default_f2_white;
                        }
                    }
                }
            }
        }
        .nav-link {
            display: flex;
            align-items: center;
            transition: opacity 0.4s ease-in-out, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            &:nth-of-type(2) {
                transition-delay: 0.1s;
            }
            &:nth-of-type(3) {
                transition-delay: 0.2s;
            }
            &:nth-of-type(4) {
                transition-delay: 0.3s;
            }
        }
    }

    .menu-icon {
        position: relative;
        // padding: 10px 10px;
        cursor: pointer;
        z-index: 1;
        display: none;

        &__line {
            display: block;
            position: relative;
            height: 5px;
            width: 40px;
            border-radius: 4px;

            &::before,
            &::after {
                content: "";
                position: absolute;
                height: 100%;
                width: 100%;
                border-radius: 4px;
                transition: background 0.8s ease;
            }
            &::before {
                transform: translateY(-10px);
            }
            &::after {
                transform: translateY(10px);
            }
        }
    }
    .menu-btn {
        position: absolute;
        opacity: 0;
        color: $default_f2_white;
    }

    &.scrolled {
        & {
            border-bottom: none !important;
        }
        a {
            color: $default_f2_white;
        }
        .dropdown-menu {
            background-color: #172126 !important;
        }
        background-color: #162025 !important;
        box-shadow: 0 0 1px $default_e8_orange;
        color: $default_f2_white;

        .menu-icon {
            &__line,
            &__line::before,
            &__line::after {
                background: $MainWhiteColor;
            }
        }
        .nav-link {
            a {
                color: $MainWhiteColor;
                &:hover {
                    color: $MainWhiteColor;
                    transition: 0.9s;
                }
            }
        }
    }
}

.activeRoute {
    color: $default_orange !important;
}
.activeRoute:hover {
    border-top: none;
}

@import "./media";
@import "./animation.scss";
