.car{
    height: 100%;
    
}
.cardMain{
    height: 500px;}

.borderDe{
  margin-bottom: 5%;
  width: 95%;
  margin:  2% auto;
}
// this is for sign up for mail part css

.signBtn{
    height: 40px;
    color: white;
    border-radius: 7px;
    font-size: larger;
    text-align: center;
  
    width: 150px;
    background: #E86B33;
    margin-top: 3%;
    margin-left: 20px;
  }
