.bigCard{
    width: 70%;
    .reamaining{
        display: none;
      
    
    }
}
#card3{
    height: 420px;
    background: #000;
}
.img3{
    height: 70%;
    width: 100%;
    
}
.reamainingDiv{
    height: 30px;
    width: 50%;
}
.reamainingDiv:hover{
    .reamaining{
        display: block;
    }
}
.reamaining{
    display: none;
}
.ull{
    width: 100%;
    height: 760px;
}


.bigCard:hover{
    .reamaining{
        display: block;
        transition: .6s ;
    }

}

//  this section is for sellers page scss

.cardAll{
    height: 640px ;
    background: rgb(221, 4, 4);
}
.imgSize{
    background: #000;
    height: 75%;
    width: 100%;
}
.starReview{
  color:#E66B3C;
}