.bigCard{
    width: 70%;
    .reamaining{
        display: none;
      
    
    }
}
#card3{
    height: 200px;

}


.reamainingDiv{
    height: 30px;
    width: 50%;
}
.reamainingDiv:hover{
    .reamaining{
        display: block;
    }
}
.reamaining{
    display: none;
}
.ull{
    width: 100%;
    height: 798px;
}
@media only screen and (max-width: 1272px) {
    .ull {
        width: 100%;
        height: 790px;

    }
    .ull img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
  }

.bigCard:hover{
    .reamaining{
        display: block;
        transition: .6s ;
    }

}
.imgReSize{
    height: 590px;
    width: 100%;
}
.Title{
    margin-left: 10%;
font-size: 40px;
margin-bottom: 3%;
}
//  this section is for sellers page scss

.cardAll{
    height: 640px ;
    // background: rgb(221, 4, 4);
}
.imgSize{

    height: 75%;
    width: 100%;
}
.starReview{
  color:#E66B3C;
}
.wishListBtn{
    height: 50px;
    width: 176px;
    background: #669681;
    color: white;
    
}
.popularSdiv{
    height: 400px;

}
.rightArrowP{
    display: none;
    font-size: 90px;
}
.addWish{
    display: none;
    color: white;
  font-size: 30px;
}
.cardMotherDiv:hover{
    cursor: pointer;
.addWish{
    display: block;

}
}
.titleMargin{
    margin-top: 8%;
}

// pre order
.preOrder{
    height: 530px;
}