.blogCard{
    height: 500px;
    width: 100%;
}

.creatorBlogCard{
    height: 500px;
   
}
.iii{
    height: 530px;
    width: 100%;
}
.imgBlog{
    height: 70%;
    width: 100%;
}
.blogImg{
    // height: 80%;
    object-fit: cover;
    // width: 100%;
}
.kk{
    width: 100%;
}