// Pink
$pink23756104: #ed3868;

$MainText: #aaa;

$MainDarkGreen: #01896a;
$MainLightGreen: #5fbf7a;
$MainText: #aaaaaa;
$MainLightRed: #ff514f;
$MainDarkRed: #ef947b;

// nav colors
$MainWhiteColor: #fff;
$MainBlueColor: #0d171b;
$MainTextColor: #f8f8f8;
$NavActiveColor: #fdc112;
$lightGrayColor: #aca7a7;
$defaultNavBg: #0065c2;



// white
$default_f7_white: #F7F7F7;
$default_f2_white: #F2F2F2;

// dark
$default_dark: #363638;
$default_5e_dark: #5E5E61;
$default_87_dark: #878787;
$default_ad_dark: #ADADB0;

// black
$default_black: #5C5C5C;
$default_7d_black: #7D7D7D;
$default_9e_black: #9E9E9E;
$default_bd_black: #BDBDBD;

// orange
$default_orange: #e34500;
$default_e8_orange: #E86B33;
$default_ed_orange: #ED8F66;
$default_f2_orange: #F2B599;

// green
$default_green: #337357;
$default_66_green: #669681;
$default_99_green: #99B9AB;
$default_cc_green: #CCDCD5;