// Pink
$pink23756104: #ed3868;

$MainText: #aaa;

$MainDarkGreen: #01896a;
$MainLightGreen: #5fbf7a;
$MainText: #aaaaaa;
$MainLightRed: #ff514f;
$MainDarkRed: #ef947b;

// nav colors
$MainWhiteColor: #fff;
$MainBlueColor: #0d171b;
$MainTextColor: #f8f8f8;
$NavActiveColor: #fdc112;
$lightGrayColor: #aca7a7;
$defaultNavBg: #0065c2;
