@import "./variable";

// start parent design
.cursorPointer {
    cursor: pointer;
}

#loader_triangle {
    stroke-dasharray: 17;
    animation: dash 2.5s cubic-bezier(0.35, 0.04, 0.63, 0.95) infinite;
}
.loader_loading_text {
    font-size: 7px;
}
.default_dark {
    color: $default_dark;
}

@keyframes dash {
    to {
        stroke-dashoffset: 136;
    }
}
